[color]
  ui = true
[core]
  editor = vim
[alias]
  co = checkout
  ba = branch -a
  logt = log --graph --decorate --oneline
  st = status
  see = browse
[ghq]
  root = ~/src
[gpg]
  program = gpg2
[commit]
  gpgsign = true
